/*
 * unit.css
 * 颜色常量定义
 */
// 系统默认主题色
$system-theme-color: #1DA47A;
// 系统默认字体颜色
$system-font-color: #fff;
// 系统默认垂直box-shadow
$system-vertical-box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
// 系统默认水平box-shadow
$system-horizontal-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
// 系统默认focus-字体颜色
$system-focus-font-color: #1DA47A;
// 系统默认focus-背景颜色
$system-focus-bg-color: rgba(218, 215, 213, 0.8);
